<!DOCTYPE html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
    Hi {{ person }}! I think you're {{ compliment }}!
    <form action="/madlib">
    <br>
    <lable> Name 
        <input type="text" name="person">
    </lable>
    <label> Pick a Color: 
        <input type="radio" name="color" value="blue">blue 
        <input type="radio" name="color" value="red">red
        <input type="radio" name="color" value="yellow">yellow 
    </label> Pick a noun:
    <br>
    <select name="noun"> 
        <option value="bob"> bob</option>
        <option value="San Francisco"> San Francisco</option>
        <option value="computer"> computer</option>
    </select>
    </lable>
    <br>
    <lable> Enter an adjective: 
        <input type="text" name="adjective">
    </lable>
    <br>
    <input type="submit">
    </form>
</body>
</html>